@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-straight/css/uicons-solid-straight.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Lista de Clientes */
.createUser {
    width: 150px;
    background-color: #2563eb;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.createUser i {
    margin: 5px;
}

.createUser:hover {
    background-color: #1d4ed8;
}

.client-actions .excluir {
    background: transparent;
    color: red;
    border: 1px solid red;
}

.client-actions .excluir:hover {
    background: red;
    color: white;
}

.client-actions .editar {
    background: transparent;
    color: #1d4ed8;
    border: 1px solid #1d4ed8;
}

.client-actions .editar:hover {
    background: #1d4ed8;
    color: white;
}

.client-actions .visualizar {
    background: transparent;
    color: #26c32b;
    border: 1px solid #26c32b;
}

.client-actions .visualizar:hover {
    background: #26c32b;
    color: white;
}

/* INICIO MENU */
.container {
    display: flex;
    height: 100vh;
}

.novoCliente{
    padding: 10px;
    background-color: #007bff;
}

.sidebar {
    width: 100px;
    background-color: #0b6477;
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.sidebar i {
    flex-direction: column;
    display: flex;
    font-size: 30px;
    margin-bottom: 10px;
}

.sidebar button {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #14919b;
    color: white;
    cursor: pointer;
    border-radius: 25%;
    box-shadow: 2px 0 5px black;
}

.sidebar button:hover {
    background-color: #395886;
}

/* FINAL MENU */

.content {
    flex-grow: 1;
    padding: 15px;
    background-color: #ffffff;
}

h1 {
    margin-top: 0;
}

#conteudo div {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

#formularioCliente label, #editarClienteForm label {
    display: block;
    margin-top: 10px;
}

#formularioCliente input, #formularioCliente select, #editarClienteForm input, #editarClienteForm select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#formularioCliente button, #editarClienteForm button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#formularioCliente button:hover, #editarClienteForm button:hover {
    background-color: #218838;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.client-actions {
    display: flex;
    gap: 10px;
}

.client-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.client-actions button:hover {
    background-color: #0056b3;
}
.client-item {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.client-info {
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.client-actions {
    display: flex;
    gap: 10px;
}

.client-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.client-actions button:hover {
    background-color: #0056b3;
}
